@import "../../styles/theme";

.be-mulvi {
    .nav-link {
        padding: 16px 32px !important;
        background-color: $text_menu;
        color: #fff;
        border-radius: 40px;
    }
}

.navbar-toggler-icon {
    content: url('../../assets/menu-hamburguer.svg');
}

.navbar-toggler {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.link-menu:hover {
    color: $border_color !important;
}

.container-web.add-background {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

@media (min-width: 375px) {
    #icon-mobile {
        display: block;
    }

    .menu-close {
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .menu-open {
        display: grid;
        justify-content: flex-start;
        background-color: $text_link;
        border-radius: 0px 0px 32px 32px;
        height: 620px;
        width: 100%;

        .menu-icon {
            position: absolute;
            right: 0px;
            top: 0px;
            svg {
                width: auto;
                height: 313.6px;
            }
        }

        .navbar-brand > svg {
            display: none;
        }

        .navbar-toggler {
            margin-right: 10px;
            margin-top: 10px;
            position: absolute;
            right: 50%;
            bottom: 50px;
            .navbar-toggler-icon {
                content: url('../../assets/close-menu.svg');
                width: 24px;
                height: 24px;
            }
        }

        .me-auto.navbar-nav {
            display: grid;
            text-align: left;
            padding-left: 51px;
            top: 50px;

            .nav-item {
                width: fit-content;
                text-align: left;
                .nav-link {
                    text-align: left;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 34px;
                    padding: 0px;
                    color: #fff;
                    margin-bottom: 16px;
                }
            }

            .be-mulvi {
                width: 261px;
                grid-row: 7;
                margin-top: 20px;
                margin-bottom: 0px;
                .nav-link {
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0px;
                }
            }

            .be-mulvi:hover {
                .nav-link {
                    background-color: $border_color;
                    color: $text_menu;
                }
            }

            .my-account {
                margin-top: 24px;
                width: 261px;
                margin-bottom: 16px;
                margin-top: 16px;
                .nav-link {
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    padding: 16px 45.5px;
                    border: 1px solid #fff;
                    border-radius: 40px;
                }
            }

            .my-account:hover {
                .nav-link {
                    border-color: $background-primary;
                    color: $background-primary;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #icon-mobile {
        display: block;
    }

    .menu-close {
        padding: 32px 40px;
    }
}

@media (min-width: 600px) and (max-width: 1439px) {
    #icon-mobile {
        display: block;
    }

    .container-fluid {
        margin-top: 0px;
    }

    .menu-close {
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .menu-open {
        display: grid;
        justify-content: center;
        background-color: $text_link;
        border-radius: 0px 0px 32px 32px;
        height: 620px;
        width: 100%;

        .menu-icon {
            position: absolute;
            right: 0px;
            top: 80px;
            svg {
                width: auto;
                height: 480px;
            }
        }

        .navbar-brand > svg {
            display: none;
        }

        .navbar-toggler {
            margin-right: 10px;
            margin-top: 10px;
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: auto;
            .navbar-toggler-icon {
                content: url('../../assets/close-menu.svg');
                width: 24px;
                height: 24px;
            }
        }

        .me-auto.navbar-nav {
            display: grid;
            text-align: center;
            padding-left: 0px;
            top: 50px;

            .nav-item {
                width: fit-content;
                text-align: center;
                justify-self: center;
                .nav-link {
                    text-align: center;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 34px;
                    padding: 0px;
                    color: #fff;
                    margin-bottom: 16px;
                }
            }

            .be-mulvi {
                width: 190px;
                grid-row: 7;
                margin-top: 20px;
                margin-bottom: 0px;
                .nav-link {
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 0px;
                }
            }

            .my-account {
                margin-top: 24px;
                width: 190px;
                margin-bottom: 16px;
                margin-top: 16px;
                .nav-link {
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    padding: 16px 45.5px;
                    border: 1px solid #fff;
                    border-radius: 40px;
                }
            }
        }
    }

}

.me-auto.navbar-nav {
    @media (min-width: 1440px) {
        align-items: center;
        margin-right: 0px !important;
        justify-content: end !important;
    }
}

.navbar-collapse {
    @media (min-width: 1440px) {
        justify-content: flex-start !important;
    }
}

.navbar {
    @media (min-width: 375px) {
        padding-left: 17px;
        padding-right: 17px;

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
            justify-content: space-between;
            gap: 0px !important;
    
            .navbar-brand {
                padding: 0px;
                margin-right: 0px;
            }
        }
    }

    @media (min-width: 1024px) {
        padding-left: 40px;
        padding-right: 40px;

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
            gap: 76px !important;
    
            .navbar-brand {
                padding: 0px;
                margin-right: 0px;
            }
        }
    }

    @media (min-width: 1440px) {
        padding-top: 32px;

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
            gap: 76px !important;
    
            .navbar-brand {
                padding: 0px;
                margin-right: 0px;
            }
        }
    }
}

.nav-link, .nav-link:hover {
    color: $text_menu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @media (min-width: 1440px) {
        padding-left: 0px !important;
        padding-right: 24px !important;
        width: max-content;
    }
}

.whoWeAre {
    @media (min-width: 1440px) {
        .nav-link {
            padding-right: 0px !important;
        }
    }  
}

.my-account {
    @media (min-width: 1440px) {
        padding-left: 76px;

        .nav-link {
            padding-right: 32px !important;
        }
    }
}

@media (min-width: 1440px) {
    #icon-mobile {
        display: none;
    }

    .container-fluid {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .my-account:hover {
        .nav-link {
            color: $border_color;
        }
    }

    .be-mulvi:hover {
        .nav-link {
            padding: 16px 32px !important; 
            color: #fff;
            background: $text_link;
        }
    }
}

.link-menu.active {
    font-weight: 700;
    color: $text_menu_active !important;
}